<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="ART.SC.Agent" patch:after="site[@name='modules_website']"
                  targetHostName="ART.local"
                  database="web"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/ART_Agent"
                  startItem="/Home"
                  dictionaryDomain="{1F944D57-A1CF-4E11-8EBE-9772A8E6A835}"
                  dictionaryAutoCreate="true"
                  domain="extranet"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="50MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="25MB"
                  filteredItemsCacheSize="10MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"
                  cacheRenderingParameters="true"
                  renderingParametersCacheSize="10MB"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
    </sites>
    <cacheSizes>
      <sites>
        <ART.SC.Agent>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </ART.SC.Agent>
      </sites>
    </cacheSizes>
  </sitecore>
</configuration>
