@using Sitecore.Mvc
<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        @Html.Sitecore().Placeholder("left-header-top")
        </div>
    <div class="top-bar-right">
        @Html.Sitecore().Placeholder("right-header-top")
        </div>
    </div>